nav {
    background-color:#203731;
    font-family: 'Just Me Again Down Here', cursive;
    font-size:3rem;
}

.bg-hero-image {
    background-image:url(imgs/curly\ lambeau\ home.jpg);
    background-position:center top;
    border:3px solid #203731;
}
 h1 {
    font-family: 'Just Me Again Down Here', cursive;
    font-size:10rem;
 }

h3 {
    font-family:'Courier New', Courier, monospace;
}
 
.green-bg {
    background-color:#203731;
}

p.intro {
    font-family:'Courier New', Courier, monospace;
    font-size:1.2rem;
}

body {
    background-image: url(imgs/videoblocks-old-film-black-white-with-dust-and-scratches_hgikepy9x_thumbnail-1080_01.png);
    background-repeat:no-repeat;
    background-size:cover;
}

.home2 {
    background-image:url(imgs/curly\ home\ 2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height:19rem;
}

h2 {
    font-family:'Courier New', Courier, monospace;
}

footer {
    background-color:#203731;
}

a {
    font-size:2rem !important;
    font-family: 'Just Me Again Down Here', cursive;
}

.career {
    background-image: url(imgs/curly\ lambeau\ career.jpg);
    background-position: center;
}

.career2 {
    background-image: url(imgs/curly\ college.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height:25rem;
}

.career3 {
    background-image: url(imgs/lambeau\ packers.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height:27rem;
    background-position: center;
}

li {
    font-family:'Courier New', Courier, monospace;
}

.career4 {
    background-image: url(imgs/lambeau\ hof.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height:27rem;
    background-position: center;
}